<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.alinlis.test02.mapper.SortMapper">
    <resultMap id="sortResultMap" type="com.alinlis.test02.entity.Sort">
        <result property="sortId" column="sort_id"/>
        <result property="sortName" column="sort_name"/>
        <result property="sortDescription" column="sort_description"/>

    </resultMap>
    <select id="getsortpage" resultMap="sortResultMap">
        SELECT * FROM t_sort
    </select>
</mapper>
